<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    p{

        text-align: center;
        color:red;
        font-size: 40px;
    }
    img{
        position: relative;
        margin-left: 35%;
    }
</style>
<body>
    <a href="/login"><img src="../../static/assets/images/error_page.gif" alt="error"></a>
    <p>Sorry, your password or email does not match, click picture or wait for a moment</p>
    <meta http-equiv="refresh" content="5;url = login">
   
</body>
</html>