<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    p{

        text-align: center;
        color:red;
        font-size: 40px;
    }
    img{
        position: relative;
        margin-left: 36%;
    }
</style>
<body>
    <script>
        alert('please input your email or password')
    </script>
    
    <a href="/login"><img src="../../static/assets/images/error_page.gif" alt="error"></a>
    <p>finding last websites, please wait</p>
    <meta http-equiv="refresh" content="3;url = login">
</body>
</html>